@model SIERRHH.Models.PuestosDesempenados

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PuestosDesempenados</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tiempo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tiempo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPuestoDesempenado">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
