@model IEnumerable<SIERRHH.Models.Capacitacion>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-image: url('/img/Fondo15.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>


<h3>Capacitaciones</h3>


<p>
    <a class="btn-generales btn-primary" asp-action="Create">Ir a crear capacitación</a>
</p>
<table class="table  table-striped table-hover table-dark align-middle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCapacitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lugar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCapacitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lugar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                    <a asp-action="Edit" class="btn-generales btn-primary" asp-route-id="@item.IdCapacitacion">Editar</a> 
                    <a asp-action="Details" class="btn-generales btn-success" asp-route-id="@item.IdCapacitacion">Detalles</a> 
                    <a asp-action="Delete" class="btn-generales btn-danger" asp-route-id="@item.IdCapacitacion">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
