@using System.Security.Claims
@model IEnumerable<SIERRHH.Models.Capacitacion>


@{
    ViewData["Title"] = "Index";

    // Obtener el IdEmpleado del usuario autenticado
    var userClaims = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier);
    int? userIdEmpleado = userClaims != null ? Convert.ToInt32(userClaims.Value) : null;
}

<style>
    body {
        background-image: url('/img/Fondo15.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>


<h5>Capacitaciones</h5>
 <hr/>

<p>
    @if (userIdEmpleado != null && Model.Any(m => m.IdEmpleado == userIdEmpleado))
    {
        <a class="btn-generales btn-primary" asp-action="Create">Ir a crear capacitación</a>
    }

    <a class="btn-generales btn-primary" asp-controller="PerfilProfesional" asp-action="MiPerfil">Volver</a>
    
</p>
<div class="table-wrapped">
    <table class="table table-hover table-light">
        <thead class="table-dark">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.NombreCapacitacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lugar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCapacitacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lugar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @if (userIdEmpleado != null && Model.Any(m => m.IdEmpleado == userIdEmpleado))
                        {
                            <a asp-action="Edit" class="btn-generales btn-primary" asp-route-id="@item.IdCapacitacion">Editar</a>
                            <a asp-action="Details" class="btn-generales btn-success" asp-route-id="@item.IdCapacitacion">Detalles</a>
                            <a asp-action="Delete" class="btn-generales btn-danger" asp-route-id="@item.IdCapacitacion">Eliminar</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

