@model IEnumerable<SIERRHH.Models.Sector>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-image: url('/img/Fondo15.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<h5>Sectores</h5>
<hr />

<p>
    <a class="btn-generales btn-primary" asp-action="Create">Ir a crear sector</a>
</p>
<div class="table-wrapped">
    <table class="table table-light table-hover">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreSector)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreSector)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn-generales btn-primary" asp-route-id="@item.IdSector">Editar</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

