@model SIERRHH.Models.PuestosVacantes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PuestosVacantes</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Descripcion)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.IdSector)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.IdSector)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Estado)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Estado)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.FechaPublicacion)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.FechaPublicacion)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Modalidad)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Modalidad)
                            </dd>
                            
                        </dl>
                        <a asp-action="Edit" class="btn-generales btn-primary" asp-route-id="@Model.IdPuesto">Editar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    
                    <div class="card-body">
                        <h5 class="card-title">Aptitudes</h5>
                        @foreach (var item in Model.listaAptitudes)
                        {
                            <li>@item.Descripcion</li>
                        }
                        <a asp-controller="PuestoAptitudes" asp-action="Create" class="btn-generales btn-primary" asp-route-id="@Model.IdPuesto">Agregar Aptitudes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div>
    
    
</div>
