@model IEnumerable<SIERRHH.Models.Grado>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-image: url('/img/Fondo15.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<h3>Grados</h3>

<p>
    <a class="btn-generales btn-primary" asp-action="Create">Ir a crear grado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                    <a asp-action="Edit" class="btn-generales btn-primary" asp-route-id="@item.IdGrado">Editar</a> 
                    <a asp-action="Details" class="btn-generales btn-success" asp-route-id="@item.IdGrado">Detalles</a> 
                    
            </td>
        </tr>
}
    </tbody>
</table>
