@model IEnumerable<SIERRHH.Models.PuestoAptitudes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAptitudes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPuesto)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAptitudes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPuesto)
                </td>
                <td>
                    <a asp-action="Edit" class="btn-generales btn-primary" asp-route-id="@item.IdPuesto">Editar</a>
                    <a asp-action="Details" class="btn-generales btn-success" asp-route-id="@item.IdPuesto">Detalles</a>
                    <a asp-action="Delete" class="btn-generales btn-danger" asp-route-id="@item.IdPuesto">Eliminar</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
