@model IEnumerable<SIERRHH.Models.UsuarioEmpleado>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-image: url('/img/Fondo15.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<h3>Usuarios Empleados registrados</h3>

<p>
    <a class="btn-generales btn-primary" asp-action="Create">Ir a crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                    
                    <a asp-action="Edit" class="btn-generales btn-success"  asp-route-id="@item.IdEmpleado">Editar</a>
                    <a asp-action="Details" class="btn-generales btn-info"   asp-route-id="@item.IdEmpleado">Detalles</a>
                   
            </td>
        </tr>
}
    </tbody>
</table>
