@model SIERRHH.Models.Titulos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Titulos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroEstudio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroEstudio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGrado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGrado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTitulo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
