@model IEnumerable<SIERRHH.Models.Titulos>

@{
    ViewData["Title"] = "Index";
}

<h1>Titulos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CentroEstudio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSector)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGrado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CentroEstudio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGrado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTitulo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTitulo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTitulo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
